CONVEX_SELF_HOSTED_URL=https://api.web-tycoon.ru
CONVEX_SELF_HOSTED_ADMIN_KEY=''
PUBLIC_CONVEX_URL=https://api.web-tycoon.ru
PUBLIC_CONVEX_SITE_URL=https://hooks.web-tycoon.ru
PUBLIC_SITE_URL=https://web-tycoon.ru
