DOMAIN=web-tycoon.ru
INSTANCE_NAME=webtycoon
INSTANCE_SECRET=
POSTGRES_PASSWORD=
CONVEX_CLOUD_ORIGIN=https://api.web-tycoon.ru
CONVEX_SITE_ORIGIN=https://hooks.web-tycoon.ru
NEXT_PUBLIC_DEPLOYMENT_URL=https://api.web-tycoon.ru
DISABLE_BEACON=true
